name: Prisync Scraper Bot

on:
  schedule:
    - cron: '*/5 * * * *'

concurrency:
  group: prisync-scraper-bot
  cancel-in-progress: false

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Kodu Çek
        uses: actions/checkout@v4

      - name: Python Kur
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Kütüphaneleri Yükle
        run: |
          pip install aiohttp pandas beautifulsoup4 gspread google-auth lxml gspread-dataframe

      - name: Scripti Çalıştır
        env:
          PRISYNC_COOKIE: ${{ secrets.PRISYNC_COOKIE }}
          GSPREAD_JSON: ${{ secrets.GSPREAD_JSON }}
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        run: python main.py
